* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(250, 235, 215);
}

/* Aquí agregas la configuración para los enlaces */
a {
    color: #000000; /* Reemplaza con el color que desees */
    text-decoration: none;
}

a:visited {
    color: #000000; /* Reemplaza con el color para enlaces visitados */
}

a:hover {
    color: #000000; /* Reemplaza con el color cuando el mouse está sobre el enlace */
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.back {
    padding: 32px 0;
    background-color: rgba(222, 184, 135);
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 24px;
  
    font-weight: 800;
    text-transform: uppercase;
}
.logo img {
    width: 65px;  /* Ajusta el tamaño según sea necesario */
    height: auto;  /* Mantén las proporciones correctas */
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 25px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: rgb(0, 0, 0);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width: 991px) {
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .back {
        padding: 50px 0;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(255, 195, 127);
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
}

.slider-box {
    width: 1000px;
    overflow: hidden;
    margin: 50px auto 0;
    position: relative;;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
}

.slider-box img {
    width: 100%;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@media(max-width: 991px) {
    body {
        padding: 30px;
    }
    .slider-box {
        width: 100%;
    }
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    margin-top: 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.card h3 {
    margin: 0;
    padding: 15px;
    background: #eee;
    text-align: center;
}

.card p {
    padding: 0 15px 15px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

/* Código de las imágenes */
.gallery {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas si es necesario */
    gap: 10px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra la galería */
}

.gallery-item {
    flex-basis: calc(25% - 20px); /* Cada imagen ocupa un cuarto del ancho, ajustando el gap */
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho y alto */
}

.gallery-item img {
    width: 100%; /* La imagen se ajusta al tamaño del contenedor */
    height: 300px; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Bordes redondeados */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

@media (max-width: 768px) {
    .gallery-item {
        flex-basis: calc(50% - 20px); /* Cambia a dos columnas en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex-basis: calc(100% - 20px); /* Una columna en pantallas muy pequeñas */
    }
}

/* Estilo base del botón */

.container-btn {
    width: 100%;
    text-align: center; /* Esto centrará cualquier elemento inline-block o inline dentro del contenedor */
}
.btn-final {
    display: block;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(170, 96, 43); /* Azul primario */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 20px auto;
    text-align: center;
}

/* Efecto hover */
.btn-final:hover {
    background-color: #71dfee;
    transform: scale(1.1);
}

/* Efecto de animación en continuo */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn-final {
    animation: pulse 2s infinite;
}

.features-container {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.feature-item {
    text-align: center;
    width: 28%;
}

.feature-item img {
    width: 50px;  /* Ajusta el tamaño según necesites */
    height: auto;
    margin-bottom: 10px;
}

.feature-item h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.feature-item p {
    font-size: 14px;
    color: #666;
}

.feature-divider {
    height: 40px;
    width: 1px;
    background-color: rgb(139, 69, 19);
}
footer {
    background-color: rgb(139, 69, 19);;
    padding: 20px 0;
}

.logo-fut {
    width: 100px; /* Ajuste de tamaño para pantallas más pequeñas */
    height: 100px;
    margin: 0 auto 20px; /* Margen para separar en móviles */
    text-align: center;
}

.logo-fut img {
    width: 100%;
    height: auto;
}

.contenedor-fut {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: space-between;
    align-items: flex-start;
    color: #0c0c0c;
    padding: 20px; 
}

.col1, .col2, .col3 {
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    margin-bottom: 20px; /* Espacio entre columnas en móviles */
    text-align: center;
}

.col2 img {
    width: 40px;
    margin: 5px;
}

.col2 .ig, .col2 .fb {
    justify-content: center; /* Centrar en pantallas pequeñas */
}

@media(min-width: 768px) {
    .col1, .col2, .col3 {
        width: 30%; /* Tres columnas en pantallas medianas o mayores */
        margin-bottom: 0;
        text-align: left;
    }

    .final {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.copy, .politic {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

@media(min-width: 768px) {
    .copy, .politic {
        width: 50%;
        margin-top: 0;
    }

    .copy {
        text-align: left;
    }

    .politic {
        text-align: right;
    }
}
